@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.15'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Acme', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  margin: 2%;
  width: 580px;
  height: 850px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.4);
}

.header {
  background: #F78888;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 20px;
  font-family: 'Seymour One', sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Seymour One', sans-serif;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px rgb(220, 220, 220);
  display: inline-block;
}

button:hover {
  filter: brightness(108%);
}

button:active {
  filter: brightness(105%);
  box-shadow: 0 5px rgb(220, 220, 220);
  transform: translateY(4px);
}

button[disabled] {
  opacity: 40%;
  cursor: not-allowed;
}

.roll-btn-p1,
.hold-btn-p1 {
  background-color: #5DA2D5;
}

.roll-btn-p2,
.hold-btn-p2 {
  background-color: #F4976C;
}

.player1-scoreboard {
  color: #5DA2D5;
  font-size: 35px;
  margin: 10px;
}

.player2-scoreboard {
  color: #F4976C;
  font-size: 35px;
  margin: 10px;
}

.player-container {
  margin: 16%;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  white-space: nowrap;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.reset-icon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 50px;
}

.reset-icon:hover {
  color: rgb(134, 134, 134);
}

.instruction-icon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 415px;
}

.instruction-icon:hover {
  color: rgb(134, 134, 134);
}

.result-text {
  font-size: 30px;
  margin: unset;
  color: #F78888;
  text-align: center;
}

h1 {
  color: white;
  font-size: 40px;
}

.instruction-container {
  background: rgb(255, 255, 255);
  position: absolute;
  border-radius: 15px;
  z-index: 100;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.4);
}

.instruction-title {
  text-align: center;
  background-color: #f788a4;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 20px;
  font-family: 'Seymour One', sans-serif;
}

.instruction-title,
.instruction-list {
  text-align: center;
  padding: 2%;
}

.hidden {
  display: none;
}

.overlay {
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
