@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Acme', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 530px;
  height: 760px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
}

.header {
  background: #fb6ddf;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
  font-family: 'Seymour One', sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Seymour One', sans-serif;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px rgb(220, 220, 220);
}

button:hover {
  filter: brightness(108%);
}

button:active {
  filter: brightness(105%);
  box-shadow: 0 5px rgb(220, 220, 220);
  transform: translateY(4px);
}

button[disabled] {
  opacity: 40%;
  cursor: not-allowed;
}

.roll-btn-p1,
.hold-btn-p1 {
  background-color: rgb(127, 163, 255);
}

.roll-btn-p2,
.hold-btn-p2 {
  background-color: rgb(163, 127, 255);
}

.player1-scoreboard {
  color: rgb(127, 163, 255);
  font-size: 35px;
}

.player2-scoreboard {
  color: rgb(163, 127, 255);
  font-size: 35px;
}

.player-container {
  margin: 16%;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 3%;
  text-align: center;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.reset-icon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 50px;
}

.reset-icon:hover {
  color: rgb(134, 134, 134);
}

.instruction-icon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 360px;
}

.instruction-icon:hover {
  color: rgb(134, 134, 134);
}

.result-text {
  font-size: 35px;
  margin: unset;
}

h1 {
  color: white;
  font-size: 40px;
}
